[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
python-telegram-bot = "*"
pymongo = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
mypy = "*"
pytest = "*"

[requires]
python_version = "3.11"
